<div style="display: flex; max-width: 100vw; max-height: 100vh;">
  <img src="{{img}}" style="width: 100%;">

  <div class="ui" style="min-width: 35%;">
    <div class="title">Head type</div>
    <button style="width: 31%;" (click)="setLamp('A')"><span>A</span></button>
    <button style="width: 31%;" (click)="setLamp('B')"><span>B</span></button>
    <button style="width: 32%;" (click)="setLamp('C')"><span>C</span></button>

    <div class="title">Body type</div>
    <button style="width: 48%;" (click)="setUpper('BASIC')"><span>BASIC</span></button>
    <button style="width: 48%;" (click)="setUpper('STRONG')"><span>STRONG</span></button>

    <div class="title">Legs type</div>
    <button style="width: 31%;" (click)="setLower('LONG')"><span>LONG</span></button>
    <button style="width: 31%;" (click)="setLower('ROLLER')"><span>ROLLER</span></button>
    <button style="width: 32%;" (click)="setLower('SHORT')"><span>SHORT</span></button>
  </div>
</div>