<div style="display: flex;">
  <div style="height: 100vh; width: 85%;" class="bg">
    <img src="{{img}}" style="width: 100%;">
  </div>
  
  <div style="width: 15%;">
    <button style="height: 20px; width: 33%;" (click)="setLamp('A')">A</button>
    <button style="height: 20px; width: 33%; margin-bottom: 10px;" (click)="setLamp('B')">B</button>
    <button style="height: 20px; width: 33%; margin-bottom: 10px;" (click)="setLamp('C')">C</button>

    <button style="height: 20px; width: 50%;" (click)="setUpper('BASIC')">BASIC</button>
    <button style="height: 20px; width: 50%;" (click)="setUpper('STRONG')">STRONG</button>

    <button style="height: 20px; width: 33%;" (click)="setLower('LONG')">LONG</button>
    <button style="height: 20px; width: 33%;" (click)="setLower('ROLLER')">ROLLER</button>
    <button style="height: 20px; width: 33%; margin-bottom: 10px;" (click)="setLower('SHORT')">SHORT</button>
  </div>
</div>