<div class="background">
    <img class="h-100" src="assets/logo2.jpg">
    <img class="h-100" src="assets/1.jpg">
    <div class="col" style="width: 30%; border-right: 5px solid white;">
        <div class="contact-info" style="margin-left: 25px;">
            <h1>Mijn contactgegevens:</h1>
            <p>Eddy Van Assche</p>
            <p>Zaubeekstraat 73</p>
            <p>9870 Zulte</p>
            <p>+32 (0)485 / 833.848</p>
            <p>IBAN: BE 93 7380 3830 0167</p>
            <p>BIC: KREDBEBB</p>
        </div>
    </div>
    <div class="col" style="width: 60%;">
        <div class="languages">
            <button>Nederlands</button>
            <button>|</button>
            <button>English</button>
        </div>
        <p class="page-name">{{pageName}}</p>
    </div>
</div>