<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <div class="ui" id="ui">
      <img src="assets/ONiKi.jpg" />
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> EXAMPLE TITLE </mat-panel-title>
        </mat-expansion-panel-header>
        <oniki-selector [target]="head" default="Light_A" (change)="updateMeshPosition($event)"></oniki-selector>
        <oniki-selector [target]="body" default="Body_Basic" (change)="updateMeshPosition($event)"></oniki-selector>
        <oniki-selector [target]="legs" default="Legs_Roller" (change)="updateMeshPosition($event)"></oniki-selector>
      </mat-expansion-panel>

      <button
        mat-button
        (click)="sidenav.toggle()"
        style="position: absolute; color: whitesmoke"
      >
        Close sidepanel
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="position: absolute">
    <p>
      <button
        mat-button
        (click)="sidenav.toggle()"
        style="color: whitesmoke"
        *ngIf="!sidenav.opened"
      >
        Open sidepanel
      </button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<div style="height: 100%; display: flex">
  <div id="three" style="width: 100%"></div>
</div>
